<section class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-b from-green-50 to-green-100 p-6">

  <!-- LOGO + TÍTULO -->
  <div class="text-center mb-6">
    <h1 class="text-3xl font-bold text-emerald-600">Pokémon App</h1>
    <p class="text-gray-600 mt-1">Ingresa a tu cuenta</p>
  </div>

  <!-- CARD LOGIN -->
  <div class="card w-full max-w-md bg-white shadow-md border border-gray-100 rounded-xl">
    <div class="card-body space-y-4">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">

        <!-- EMAIL -->
        <div class="form-control">
          <label class="label" for="email">
            <span class="label-text text-gray-700">Correo electrónico</span>
          </label>

          <input
            id="email"
            type="email"
            placeholder="Correo electrónico"
            formControlName="email"
            class="input input-bordered w-full rounded-lg"
            [class.input-error]="isFieldInvalid('email')"
          />

          @if (isFieldInvalid('email')) {
            <span class="mt-1 text-xs text-red-500">{{ getFieldError('email') }}</span>
          }
        </div>

        <!-- PASSWORD -->
        <div class="form-control">
          <label class="label" for="password">
            <span class="label-text text-gray-700">Contraseña</span>
          </label>

          <input
            id="password"
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            class="input input-bordered w-full rounded-lg"
            [class.input-error]="isFieldInvalid('password')"
          />

          @if (isFieldInvalid('password')) {
            <span class="mt-1 text-xs text-red-500">{{ getFieldError('password') }}</span>
          }
        </div>

        <!-- ERROR GENERAL -->
        @if (errorMessage()) {
          <div class="alert alert-error p-3 rounded-lg">
            <span>{{ errorMessage() }}</span>
          </div>
        }

        <!-- FORGOT PASSWORD -->
        <div class="text-right">
          <a class="text-sm text-emerald-600 hover:underline cursor-pointer">
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <!-- BOTÓN LOGIN -->
        <button class="btn bg-emerald-500 hover:bg-emerald-600 text-white font-medium w-full rounded-lg">
          Iniciar sesión
        </button>

      </form>
    </div>
  </div>

  <!-- CARD CREAR CUENTA -->
  <div class="card w-full max-w-md mt-6 bg-white shadow-sm border border-gray-100 rounded-xl">
    <div class="card-body text-center">
      
      <h2 class="text-emerald-600 font-semibold">Email: usuario@ups.edu.ec</h2>
      <p class="text-gray-600 text-sm">
        Password: 123456
      </p>

     

    </div>
  </div>

 


</section>
